{% extends 'user_layout.html' %}

    <!-- Content -->
{% block main_content %}


	<!--Main container start -->
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Dashboard</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
					<li>Dashboard</li>
				</ul>
			</div>
			<!-- Card -->
			<div class="card">
  <div class="card-body">

    Welcome to CollegeFinder
	  <a style="color:blue;">{{user_id}}</a>


				</div>
			</div>
		</div>
	</main>
	<div class="ttr-overlay"></div>

{% endblock main_content %}