{% extends 'user_layout.html' %}

    <!-- Content -->


{% block main_content %}
<div class="container">
    <div class="row">

        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">My Cart</h1>
            <div class="card py-2 px-2">
                <table class="table-striped">
                    <tr>
                        <th>College Name</th>
                        <th>College Location</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                    {% for i in items %}
                    <tr>
                        <td> {{ i.food.college_name }}</td>
                        <td> {{ i.food.college_location }}</td>
                        <td> {{ i.created_date }}</td>
                        <td><a class="btn btn-dark btn-sm" href="/remove_item/{{i.food.id}}">Remove</a> &nbsp;
                            </td>

                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}