{% extends 'layout.html' %}
{% block title %}
<title>Password Reset Sent</title>
{% endblock%}
{% load static %}


{% block main_content %}
<div class="registration-container py-5" style="
height:100vh; background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url({% static '/images/2.jpg' %});">
    <div class="container py-5 my-5">

        <h1 style="color:Green; text-align:center; font-weight:900; font-size:100px;" >Reset your password</h1>
        <p class="text-white" style="text-align:center; font-weight:700;font-size:30px; ">We've emailed you instructions for setting your password.</p>
        <p class="text-white"style="text-align:center;font-weight:700;font-size:30px;">If you don't receive an email, please make sure you've entered the address you registered with.</p>

    </div>
</div>
{% endblock main_content %}